@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif  !important; 
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }

  .form{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .form input{
      width: 100%;
      height: 40px;
      border-radius: 5px;
      padding: 0 40px 0 75px;
      font-size: 18px;
      border: 1px solid #454564;
      color: #454564;
      transition: 300ms border-color ease-in-out;    
  }

  .form input:focus{
      outline: none;
  }

  .form button{
      height: 60px;
      background-color: transparent;
      border: none;
      font-size: 20px;
      transition: 300ms all;
  }

  .form button:hover{
      color: #9a9ae1;
  }
  .category-selection select{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    padding: 0 40px 0 75px;
    font-size: 18px;
    border: 1px solid #454564;
    color: #454564;
    transition: 300ms border-color ease-in-out; 
  }

  .todo-select{
      background-color: #bee4e942;
      border-radius: .4rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 1rem 0 1rem 1rem;
  }

.todo-category{
    background-color: #eeee;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem 3rem 2rem 3rem;
    border-radius: .4rem;
    height: fit-content;
}

.category-title{
    color:#673AB7;
}


.todo-button-check{
    border: none;
    font-size: 20px;
    background: transparent;
    color: #4caf50;
}

.todo-button-del{
    border: none;
    font-size: 20px;
    background: transparent;
    color: #E91E63;
}

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.mt-9{
margin-top: 9rem;
}